<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<h2>Add a book:</h2>
<%= form_for([current_user, current_user.books.build], :html => { :multipart => true }) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  <%= f.file_field :epubf %>
  <p>
    <%= f.submit %>
  </p>
<% end %>


